{{template "base" .}} {{ define "title" }} Day {{end}} {{define "content" }}
<div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">
  <div class="row">
    <div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{{neatDate .Food.CreatedAt}}</h3>
        </div>

        <div class="panel-body">
          <!--Come back later-->
<!--          <form method="POST" action="/food/total">-->
<!--            <input type="hidden" name="csrf_token" value='{{.CSRFToken}}'>-->
<!--            <div class="form-group">-->
<!--              <select name="day" id="day" class="form-control">-->
<!--                <option>{{foodDate .Food.CreatedAt}}</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-primary">Get Total</button>-->
<!--          </form>-->

<!--          <div class="page-header"></div>-->

<!--         {{with .Total}}-->
<!--            <ul class="nav nav-pills" role="tablist">-->
<!--              <li class="active"><a>Total</a></li>-->
<!--              <li>-->
<!--                <a>Protein: <span class="badge">{{ .Protein}}</span></a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a>Carbs:<span class="badge">200</span></a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a>Fat: <span class="badge">50</span></a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a>Calories: <span class="badge">1650</span></a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          {{end}}-->
<!--        </div>-->

        <div class="page-header"></div>

        {{ with .Food}}
        <div class="panel-body">
          <ul class="nav nav-pills" role="tablist">
            <li class="active"><a>{{ .Meal}}</a></li>
            <li>
              <a>Name: <span class="badge">{{ .Name}}</span></a>
            </li>
            <li>
              <a>Protein: <span class="badge">{{ .Protein}}</span></a>
            </li>
            <li>
              <a
                >Carbohydrates:
                <span class="badge">{{ .Carbohydrates}}</span></a
              >
            </li>
            <li>
              <a>Fat: <span class="badge">{{ .Fat}}</span></a>
            </li>
            <li>
              <a>Calories: <span class="badge">{{ .Calories}}</span></a>
            </li>
          </ul>
        </div>

        <div class="page-header"></div>

        <div class="panel-body">
          <div class="delete-edit">
            <button type="button" class="btn btn-dark">
              <a
                class="edit"
                href="/food/get-edit?foodId={{ .ID}}&userId={{.UserID}}"
                >Edit</a
              >
            </button>
            <div class="delete-form" type="button" class="btn btn-danger">
              <form class="delete" action="/food/delete" method="POST">
                <input type="hidden" name="foodId" value="{{ .ID}}" />
                {{end}}
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
                <input class="delete-button" type="submit" value="Delete" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
