{{ template "base" .}}
{{ define "title" }} Home {{end}}
{{define "content" }}
    <div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">
        <div class="row">
            <div>
                <div class="page-header"></div>

                {{if .Foods }}
                    {{ range .Foods }}
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ .CreatedAt}}</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="nav nav-pills" role="tablist">
                                    <li>
                                        <a>Protein: <span class="badge">{{ .Meal}}</span></a>
                                    </li>
                                    <li>
                                        <a>Protein: <span class="badge">{{ .Protein}}</span></a>
                                    </li>
                                    <li>
                                        <a>Carbohydrates: <span class="badge">{{ .Carbohydrates}}</span></a>
                                    </li>
                                    <li>
                                        <a>Fat: <span class="badge">{{ .Fat}}</span></a>
                                    </li>
                                    <li>
                                        <a>Calories: <span class="badge">{{ .Calories}}</span></a>
                                    </li>
                                    <li>
                                        <a href="/food/day?foodId={{ .ID}}&userId={{.UserID}}" type="button" class="btn btn-link"
                                        >View Detail</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {{end}}
                {{else}}
                    <p>You have no foods</p>
                {{end}}


            </div>
        </div>
    </div>
{{end}}




