{{ template "base" .}}
{{ define "title" }} Home {{end}}
{{define "content" }}
    <div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">
        <div class="row">
            <div>
                <div class="page-header"></div>

                {{if .Foods }}
                    {{ range .Foods }}
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{neatDate .CreatedAt}}</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="nav nav-pills" role="tablist">
                                    <li>
                                        <a>Meal: <span class="badge">{{ .Meal}}</span></a>
                                    </li>
                                    <li>
                                        <a>Protein: <span class="badge">{{ .Protein}}</span></a>
                                    </li>
                                    <li>
                                        <a>Carbs: <span class="badge">{{ .Carbohydrates}}</span></a>
                                    </li>
                                    <li>
                                        <a>Fat: <span class="badge">{{ .Fat}}</span></a>
                                    </li>
                                    <li>
                                        <a>Calories: <span class="badge">{{ .Calories}}</span></a>
                                    </li>
                                        <li>
                                            <a href="/food/day?foodId={{ .ID}}&userId={{.UserID}}" type="button" class="btn btn-link"
                                            >View Details</a
                                            >
                                        </li>
                                </ul>
                            </div>
                        </div>
                    {{end}}
                {{else}}
                    <div class="jumbotron">
                        <h1 class="display-4">Achieve Your Health Goals with Calory Tracker: The Ultimate Solution for a Balanced Lifestyle!</h1>
                        <p class="lead">Track the quantity of what you consume for more balanced lifestyle! With Calory Tracker, you can finally achieve your health goals without sacrificing taste or satisfaction.</p>
                        <hr class="my-4">
                        <p>Register To Start</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="/user/register" role="button">Register</a>
                        </p>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
{{end}}




