{{ template "base" .}}
{{ define "title" }} Add Food {{end}}
{{define "content"}}
    <div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">
        <div class="row">
            <div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>

                    <div class="panel-body">
                        <div class="page-header"></div>
                        <form method="POST" action="/user/login" novalidate>
                            {{with .Form }}
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="email"
                                            placeholder="example@example.com"
                                            value='{{.Get "email"}}'
                                    />
                                    {{with .Errors.Get "email" }}
                                    <small class="text-danger">{{.}}</small>
                                    {{end}}
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input
                                            type="password"
                                            class="form-control"
                                            id="password"
                                            placeholder="*****"
                                    />
                                    {{with .Errors.Get "password" }}
                                    <small class="text-danger">{{.}}</small>
                                    {{end}}
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>
                            {{end}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}



