{{define "nav"}}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Food Tracker</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    {{if .AuthenticatedUser}}
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/food/add">Add Food</a></li>
                    {{end}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{if .AuthenticatedUser}}
                        <li class="nav-item"><a class="nav-link" href="/user/me">Hi,{{.AuthenticatedUser.Username}}</a></li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <form class="logout" action="/user/logout" method="POST">
                                    <input type="hidden" name="csrf_token" value='{{.CSRFToken}}'>
                                    <button class="btn btn-outline-danger" type="submit">Logout</button>
                                </form>
                            </a>
                        </li>
                    {{else}}
                        <li class="nav-item"><a class="nav-link" href="/user/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/user/register">Register</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
    </nav>
{{end}}