{{template "base" .}}
{{ define "title" }} User {{end}}
{{define "content" }}
    <div class="container">
        <div class="not_found">
            <div class="row justify-content-md-center">
                <div class="col-md-6 text-center my-5">
                    <h1 class="display-4">404</h1>
                    <p class="lead">Oops! Page not found.</p>
                    <a href="/" class="btn btn-primary">Go to Home</a>
                </div>
            </div>
        </div>
    </div>
{{end}}