{{template "base" .}}
{{ define "title" }} User {{end}}
{{define "content" }}
<div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">
    <div class="row">
        <div class="panel panel-primary" pb-4>
            <div class="panel-heading">
                <h3 class="panel-title">Name Bix</h3>
            </div>

            <div class="page-header"></div>

            <div class="card text-center">
                <div class="card-header">
                    About
                </div>
                <div class="card-body">
                    <h5 class="card-title">Username here</h5>
                    <p class="card-text">Email here</p>
                    <a href="/" class="btn btn-primary">Home</a>
                </div>
                <div class="card-footer text-muted" mb-4>
                    Join in (2 days ago)
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
